<% if session_user.admin? %>

    <h1>Editando Usuario</h1>
    <div id="tabelas">
        <% form_for(@user) do |f| %>
          <%= f.error_messages %>

          <p>
            <%= f.label :nome %><br />
            <%= f.text_field :nome %>
          </p>
          <p>
            <%= f.label :login %><br />
            <%= f.text_field :login %>
          </p>
          <p>
            <%= f.label :pass %><br />
            <%= f.password_field :pass %>
          </p>
          <p>
            <%= f.label :admin %><br>
            <%= f.select :admin, [["1", 1], ["0", 0]]  %>
          </p>
          
            <%= f.submit "Update" %>
          
        <% end %>

        <%= link_to 'Mostrando', @user %> |
        <%= link_to 'Voltar', users_path %><br><br>
  </div>
<% else %>
    <%=  render :partial => "shared/access_denied" %>
<% end %>