<h1>Dados do Cliente</h1>
<p>
  <b>Cliente:</b>
  <%=h @pedido.cliente.nome %>
</p>
<p>
  <b>Endereco do Cliente:</b>
  <%=h @pedido.cliente.endereco %>
</p>

<h1>Datas do Pedido</h1>
<p>
  <b>Data do Pedido:</b>
  <%=h @pedido.data_pedido.strftime("%d/%m/%Y") %>
</p>
<p>
  <b>Data da Entrega:</b>
  <%=h @pedido.data_entrega.strftime("%d/%m/%Y") %>
</p>
<p>
  <%= render :partial => "itens_do_pedido" %>
</p>
  <table id="tabela_produto" border="1" cellpadding="5" cellspacing="1">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Unitário</th>
        <th>Preço</th>
        <th>Ação</th>
      </tr>
    </thead>

    <tbody id="items">
      <%= render :partial => "item", :collection => @pedido.itempedidos %>
    </tbody>
  </table>
<p>
  <%= link_to 'Finalizar', @pedido %>
  <%= link_to 'Pedidos', pedidos_path %>
</p>